# Project
obj/
bin/
tests/obj/
tests/bin/
*.log
.history/

# Application Keys
client_keys.conf
server_keys.conf
server_pub.conf


# CMake & Clion
CMakeCache.txt
cmake_install.cmake
CMakeFiles/
.cmake/
.idea/
build.ninja
.ninja_deps
.ninja_log

# Claude
.claude
CLAUDE.md
*.jsonl

# VSCode
.vscode/*
